<%- include('../header.ejs', {name: pokeman.name}) %>
    <h1>This is an individual Pokemon</h1>
    <img src=<%= pokeman.img %> alt="pokemon image">
    <h2>Name: <%= pokeman.name %></h2>

    <h3>Types: </h3>
    <ul>
        <% pokeman.type.forEach(type => { %>
        <li><%= type %></li>
    <% }) %>
    </ul>

    <h3>Stats:</h3>
    <p>HP: <%= pokeman.stats.hp %></p>
    <p>Attack: <%= pokeman.stats.attack %></p>
    <p>Defense: <%= pokeman.stats.defense %></p>
    <a href="/pokemon/<%= index %>/edit" class="button">Edit</a>
    <a href="/pokemon/<%= index %>/delete" class="delete">Delete</a>
</body>
</html>
