<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/pokemon/<%=singlePokemon.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value = "<%= singlePokemon.name%>">
        Type: <input type="text" name="type" value="<%=singlePokemon.type%>"/>
        HP: <input type="text" name="hp" value="<%= singlePokemon.stats.hp%>"/>
        Attack: <input type="text" name="attack" value="<%= singlePokemon.stats.attack %>"/>
        Defense: <input type="text" name="defense" value="<%= singlePokemon.stats.defense %>"/>
        <br/>
        <input type="submit" name="" value="Submit Changes"/>
        </form>

</body>
</html>