<%- include('./partials/header.ejs') %>
<h1>Edit this Pokemon:</h1>
<form method="POST" action="/pokemon/<%= idx %>?_method=PUT">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value=<%= pokemonToBeEdited.name %>>
    <br>
    <label for="type">Type: </label>
    <input type="text" name="type" id="type" value=<%= pokemonToBeEdited.type %>>
    <br>
    <label for="image">Image URL: </label>
    <input type="text" name="image" id="image" value=<%= pokemonToBeEdited.img %>>
    <br>
    <label for="stats">Stats: </label>
    <label for="stats">attack </label>
    <input type="number" name="attack" id="attack" value=<%= pokemonToBeEdited.stats.attack %>>
    <label for="stats">defense </label>
    <input type="number" name="defense" id="defense" value=<%= pokemonToBeEdited.stats.defense %>>
    <label for="stats">speed </label>
    <input type="number" name="speed" id="speed" value=<%= pokemonToBeEdited.stats.speed %>>
    <br>
    <input type="submit" value="Save Pokemon">
</form>

<%- include('./partials/footer.ejs') %>