
<%- include('./header.ejs') %>
<head>
    <title>Edit</title>
</head>
<body>
    <style>
        body{
            background-color:#3c5aa6;
        }
        .container{
            border: 10px solid #ffcb05;
            border-radius: 2em;
            background-color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }
    </style>
    <div class="container">
        <h1 style="color:#ffcb05; ">Edit Pokemon</h1>
    <form class='row g-3' action="/pokemon/<%=indice%>?_method=PUT" method="POST">
        <div class="col-md-12"><label for="name">Classification:  </label>
            <input type="text" placeholder='Name' name="name" id="name" class="form-control" value="<%= pokemonItemEdit.misc.classification %>"></div>
        
        <div class="col-md-12">
        <label for="inputEmail4">Weight: </label>
        <input type="text" placeholder='weight' name="weight" id="inputEmail4" class="form-control" value="<%= pokemonItemEdit.misc.weight %>">
        </div>
    
        <div class="col-md-12">
            <label for="height">height: </label>
            <input type="text" placeholder='height' name="height" id="height" class="form-control" value="<%= pokemonItemEdit.misc.height %>">
        </div>
    
        <div class="col-md-12">
            <label for="type">Type: </label>
            <input type="text" placeholder='Type' name="type" id="type" class="form-control" value="<%= pokemonItemEdit.type %>">
        </div>
        <div class="col-md-12">
            <label for="normal">normal ability: </label>
            <input type="text" placeholder='normal' name="normal" id="normal" class="form-control" value="<%= pokemonItemEdit.misc.abilities.normal %>">
        </div>
        <div class="col-md-12">
            <label for="hidden">hidden ability: </label>
            <input type="text" placeholder='hidden' name="hidden" id="hidden" class="form-control" value="<%= pokemonItemEdit.misc.abilities.hidden %>">
        </div>
    
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Edit Pokemon</button>
        </div>
        
        
    </form>
    </div>
</body>
</html>

