
<%- include('./header.ejs') %>

    <h1>This is an index of my Pokemon</h1>
    <% for(let i = 0; i < pokemon.length; i+=10) { %>
        <a href="/pokemon/<%=i%>">
            <img src=<%= pokemon[i].img %> alt="Pokemon picture">
            <h3>Name: <%= pokemon[i].name %></h3>
        </a>
        <h3>Color: <%= pokemon[i].color %></h3>
        <hr>
    <% } %>
</body>
</html>