<%- include('header.ejs', {name: "Got to catch them all!"})%>
<body>
    
    <h1><%= singlePokemon.name %>, I choose YOU!</h1>
    <div class = 'show'>
        <img src=<%= singlePokemon.img %> alt="pokemon image">
        <h2>Type: <%= singlePokemon.type %></h2>
    </div>
    <h2>Stats</h2>
    <div class = 'stats'>
        <h3>HP: <%= singlePokemon.stats.hp %></h3>
        <h3>Speed: <%= singlePokemon.stats.speed %></h3>
        <h3>Attack: <%= singlePokemon.stats.attack %></h3>
        <h3>Defense: <%= singlePokemon.stats.defense %></h3>
    </div>

    <a href="/pokemon/<%= idx %>/edit">Edit this Pokemon</a>
    <a href="/pokemon/<%= idx %>/delete">Delete this Pokemon</a>
</body>
</html>