<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1> <%=pokemon.name %></h1>
    <div>
        <img src=<%= pokemon.img %> alt="pokemon pic" width="300px">
    </div>
    <div>
        <p>Type:
            <% let pokemonType = pokemon.type; %>
        
        <ul>
            <% for(const type in pokemonType) { %>
                <%= type%>: <%=pokemonType[type] %>
            <% } %>
        </ul>
        </p>
    </div>
    <div>
        <p>Stats:
            <% let pokemonStats = pokemon.stats; %>
        <ul>
            <% for(const stat in pokemonStats) { %>
                <li><%= stat%>: <%=pokemonStats[stat] %></li>
            <% } %>
        </ul>
        </p>
    </div>
</body>
</html>