<%- include('./partials/header.ejs') %>
<h2><%= singlePoke.name %></h2>
    <img src=<%= singlePoke.img %> alt="pic of Pokemon">
    <h3><%= singlePoke.type %></h3>

<%- include('./partials/footer.ejs') %>